nav {
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: 700;
  background-color: #242424;
}
nav ul {
  display: flex;
  justify-content: flex-start;
  height: 70px;
  /* padding: 0 0 0 90px; */
}
nav li {
  list-style: none;
  margin: 20px 40px;
}
nav a {
  text-decoration: none;
}
nav a:focus {
  color: inherit;
}
/* nav a:hover {
    text-decoration: underline !important;
  } */
nav .menu-item-main {
  font-weight: 600;
  transform-style: preserve-3d;
  flex-grow: 1;
  display: flex;
  font-size: 18px;
  box-sizing: border-box;
  justify-content: center;
  perspective: 200px;
  letter-spacing: 0.5px;
}
nav .menu-item-sub {
  font-size: 16px;
  margin-left: 40px;
}
nav .menu-text {
  position: inherit;
  z-index: 100000;
}
nav .menu-text,
nav .menu-text a {
  font-size: 1em;
  color: #f7fff7;
  text-decoration: none;
  text-shadow: 0 1px 5px rgb(0 0 0 / 10%);
  transition: color 0.1s ease-out;
  text-align: center;
}
.menu {
  width: 100%;
  display: flex;
  justify-content: center;
}
.parent {
  color: white;
  display: block;
  visibility: visible;
}
.parent a:hover {
  text-decoration: none !important;
  opacity: 0.7;
}

.parent .child {
  display: none;
}

.parent:hover .child {
  font-size: 20px;
  width: 100% !important;
  display: flex;
  position: absolute;
  z-index: 0;
  left: 0;
  height: 50px;
  top: 73px;
  visibility: visible;
  align-items: center;
  justify-content: center;
}
.parent .clip,
.parent .clip-about,
.parent .clip-services,
.parent .clip-logo {
  visibility: hidden;
  overflow: hidden;
}

.clip,
.clip-about,
.clip-services,
.clip-logo {
  position: relative;
  z-index: 100 !important;
  transform: scale(1) !important;
  width: 40px !important;
  margin-left: 40px;
}
.parent:hover .clip-logo {
  visibility: visible;
  transform: translate(100px, 0) !important;
  width: 120px !important;
}
.parent:hover .clip {
  visibility: visible;
  transform: translate(790px, 0) scaleX(1.3) !important;
  width: 120px !important;
  animation: clips 300ms ease-in-out;
}
@keyframes clips {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.parent:hover .clip-about {
  visibility: visible;
  transform: translate(950px, 0) scaleX(1.3) !important;
  width: 140px !important;
  animation: clips 300ms ease-in-out;
}
.parent:hover .clip-services {
  visibility: visible;
  transform: translate(1130px, 0) scaleX(1.3) !important;
  width: 140px !important;
  animation: clips 300ms ease-in-out;
}
.child {
  margin-left: 30px;
  background-color: #3e3e3e !important;
}

.clip,
.clip-logo,
.clip-about,
.clip-services {
  transition: 0.6s;
  margin-top: 15px !important;
  display: block;
  position: absolute;
  transform: translate(100px, 0);
  left: 0;
  width: 150px;
  height: 12px;
  background-color: greenyellow;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    55% 76%,
    50% 100%,
    45% 76%,
    0% 75%
  );
}
.clip-logo {
  visibility: visible;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    55% 76%,
    50% 100%,
    45% 76%,
    0% 75%
  );
}

.logo {
  width: 10%;
  display: inline !important;
  overflow: hidden;
  position: relative;
  z-index: 10 !important;
}
.logo_link {
  width: 10%;
  display: inline !important;
}
.ul-sub_text {
  margin: 0;
  width: 100%;
  background-color: #012754;
  display: flex;
  /* justify-content: center; */
}
.ul-sub_text .child .menu-sub_text > .menu-item {
  display: flex !important;
  flex-direction: row !important;
}
.ul-sub_text li a {
  color: #f7fff7 !important;
}
/* .logo {
    margin-right: auto;
  } */

img {
  width: 50px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column !important;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 0;
  }
  nav li {
    height: 30px;
  }
}
